@charset "utf-8";

html{
	scroll-behavior: smooth;
	padding: 0 1rem 20rem 1rem;
	overflow-x: hidden;
	width: calc(100% - 2rem);
	padding: 0 1rem;
	margin: 0;
}

body{
	font-family: var(--fuente-texto);
	margin: 1rem 3rem;
	font-size: 1.2rem;
	margin-left: auto;
	margin-right: auto;
	counter-reset: section;
	counter-reset: ejemplo;
}

h1, h2, h3{
	color: var(--color1);
	margin: 1rem 0;
	font-family: var(--fuente-titulo);
}

main header{
}

main header h1{
	display: none;
}

main header h2{
	font-size: 1.2rem;
	text-align: right;
	color: gray;
	display: none;
}

/* TOC ******************************/
#menu-toggle{
	display: none;
}
#label-menu-toggle{
	display: block;
	background: var(--color1);
	color: white;
	padding: 10px;
	text-align: center;
	cursor: pointer;
}
#menu-toggle:checked ~ .toc{
	max-height: 500px;
}

#logo{
	display: none;
}

nav{
	align-self: flex-start;
	/*border: 2px solid var(--color2);*/
}
nav img:first-of-type{
	float: left;
	padding: unset;
	border: unset;
}
nav h1{
	font-size: 1.8rem;
	font-weight: bold;
	text-align: right;
	padding-top: 0.5rem;
}
nav h1.title{
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
	text-align: right;
	padding-right: 1rem;
}
nav h2.subtitle{
	color: grey;
	text-align: center;
}
nav a{
	color: black;
	text-decoration: none;
}
.toc{
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease-in-out;
	list-style-position: inside;
	list-style-type: none;
	padding-left: 1rem;
	margin: 0 0rem 0rem 0rem;
}
.toc a{
	color: black;
	text-decoration: none;
}
.toc a:hover{
	color: var(--color1);
}
.toc li{
	margin: 0.4rem 0 0.8rem 0;
}
.toc_h1{
	font-weight: bold;
	font-size: 1.1rem;
}
.toc_h2{
	font-size: 1.1rem;
	padding-left: 1.2rem;
}

section#nav-otros{
	display: none;
}

/******************************* Aside */
aside.atencion{
	border: 2px solid var(--color2);
	border-radius: 1rem;
	margin: 1rem 0;
	padding: 1rem 1rem 1rem 6rem;
	background-image: url('../svg/exclamacion.svg'); /* Ruta de la imagen de la exclamación */
    background-position: 1rem 1rem;
    background-repeat: no-repeat;
    background-size: 50px 50px; /* Ajusta el tamaño de la imagen de la exclamación */
	background-color: var(--color2-light2);
	min-height: 3rem;
}
aside.atencion::before{
	content: "Atención";
	color: var(--color2);
}
aside.atencion p{
	margin: unset;
}

aside.nota{
	border: 2px solid var(--color2);
	border-radius: 1rem;
	margin: 1rem 0;
	padding: 1rem 1rem 1rem 6rem;
	background-image: url('../svg/nota.svg'); /* Ruta de la imagen de la exclamación */
    background-position: 1rem 1rem;
    background-repeat: no-repeat;
    background-size: 50px 50px; /* Ajusta el tamaño de la imagen de la exclamación */
	background-color: var(--color2-light2);
	min-height: 3rem;
}
aside.nota p{
	margin: unset;
}
aside.nota::before{
	content: "Nota";
	color: var(--color2);
}

/* MAIN ********************************/
main{
	max-width: 100%;
	overflow-x: auto;
	/*padding: 0 0.5rem 10rem 0.5rem;*/
}

main > h1{
	margin-top: 8rem;
	font-size: 1.8rem;
	font-weight: bold;
	counter-reset: h2;
	counter-increment: h1;
	border-bottom: 0.5rem dotted var(--color2);
}
main > h1::before {
	font-family: var(--fuente-texto);
	content: counter(h1) ". ";
}

main > h2{
	font-weight: bold;
	font-size: 1.7rem;
	margin-top: 2rem;
	counter-reset: h3;
}
main > h2::before {
	font-family: var(--fuente-texto);
	counter-increment: h2;
	content: counter(h1) "." counter(h2) ". ";
}

main > h3{
	color: black;
	font-weight: bold;
	margin-top: 3rem;
	counter-reset: h4;
}
main > h3::before {
	font-family: var(--fuente-texto);
	counter-increment: h3;
	content: counter(h1) "." counter(h2) "." counter(h3) ". ";
}

main > h4{
	font-weight: bold;
	padding: 2rem 0 0 0;
}
main > h4::before{
	counter-increment: h4;
	content: ">> ";
	content: counter(h4, lower-alpha) ") ";
	color: var(--color2);
	padding-right: 2rem;
}


img{
	margin: 0 auto;
	display: block;
	border: 1px solid grey;
	padding: 0.5rem;
	max-width: 100%;
}

p{
	line-height: 1.8rem;
	margin: 1rem 0;
}

pre{
	font-family: monospace;
	max-width: 100%;
	/*white-space: pre-wrap;*/
}

code{
	background-color: #cccccc;
	border-radius: 0.5rem;
	padding: 0 0.2rem;
	font-family: var(--fuente-mono);
}

pre code{
	background-color: var(--color1-dark);
	color: white;
	padding: 1rem 1rem 1rem 1rem;
	margin: 1rem 0 3rem 0;
	display: block;
	clear: both;
	border-radius: 0.5rem;
	border: 1px solid black;
	font-weight: bold;
	padding-bottom: 1rem;
	line-height: 1.5rem;
	overflow-x: auto;
	max-width: 100%;
	font-size: 1.1rem;
}


ul, ol{
	margin: 0 0 1rem 2.1rem;
}

ul ul, ol ol, ul ol, ol ul{
	margin-bottom: unset;
}


main ul li{
	list-style-type: square;
	margin-bottom: 0.5rem;
	line-height: 1.8rem;
}

main ol li{
	list-style-type: decimal;
	margin-bottom: 0.5rem;
	line-height: 1.8rem;
}

main ol ul li, main ul ul li{
	list-style-type: circle;
}
main ol ul{
	margin-bottom: 0;
}


ol li::marker{
	color: var(--color2-dark);
}

/* Checkboxes */
.itemchequeo{
	display: flex;
	padding: 1rem 0;
}
.itemchequeo > div:first-of-type{
	width: 3rem;
	flex-shrink: 0;
}
.itemchequeo > div:first-of-type input{
	transform: scale(2);
	accent-color: black;
	position: relative;
	left: 0.5rem;
}

b{
	font-weight: bold;
}

i, em{
	font-style: italic;
}

mark{
	/*background-color: #fffc00;*/
	background-color: var(--color2);
	border-radius: 0.2rem;
	padding: 0.1rem;
}

dfn{
	text-decoration: underline solid;
	text-decoration-thickness: 3px;
	text-decoration-color: var(--color2);
	/*font-style: italic;*/
}

strong{
	font-weight: bold;
	color: var(--color1);
}

fieldset{
	border-radius: 1rem;
	border: 1px solid grey;
	padding: 1rem;
}
fieldset div{
	margin: 1rem;
	padding-left: 1rem;
}
fieldset div input[type="radio"]{
	margin-right: 1rem;
	transform: scale(2);
	accent-color: black;
}

main a{
	color: var(--color2);
	text-decoration: none;
}
main a:visited{
	color: var(--color2);
}
/* Enlaces subir */
.top{
	display: none;
}
.top:visited{
	color: grey;
}

table{
	margin: 3rem auto;
	border: 1px solid black;
}

figure{
	margin: 2rem 0;
}

caption {
	display: table-caption;
	text-align: center;
	margin: 0.5rem;
	caption-side: bottom;
	font-size: 0.8rem;
}

figcaption {
	text-align: center;
	margin: 0.5rem;
	caption-side: bottom;
	font-size: 0.8rem;
}

hr{
	margin: 3rem 0;
}
hr.hr0{
	margin: 3rem auto;
	width: 0%;
}
hr.hr1{
	margin: 3rem auto;
	width: 10%;
}



td, th{
	border: 1px solid black;
	padding: 0.3rem;
	text-align: center;
}
th{
	color: white;
	background-color: var(--color1);
	font-weight: bold;
}
sub{
	vertical-align: sub;
	font-size: smaller;
}
sup{
	vertical-align: super;
	font-size: smaller;
}

main section.actividades{
	margin-top: 2rem;
	padding-left: 1rem;
	border-left: 1px solid var(--color2);
}
main section.actividades {
	counter-reset: actividad-item;
	margin-left: unset;
}
main section.actividades ol li{
	counter-increment: actividad-item;
}
main section.actividades ol li{
	text-align: left;
	list-style-position: inside;
	list-style-type: none;
	margin: 1rem 0;
}
main section.actividades ol li::before{
	font-family: var(--fuente-mono);
	font-weight: bold;
	content: "Ejercicio " counter(actividad-item) " ";
	color: var(--color2);
	font-size: 1.2rem;
}
main section.actividades p{
	text-align: unset;
}

main aside.ejemplo{
	counter-increment: ejemplo;
	border: 1px solid var(--color2);
	border-radius: 1rem;
	padding: 1.5rem;
}
main aside.ejemplo:before{
	content: "Ejemplo " counter(ejemplo);
	display: block;
	text-align: center;
	font-weight: bold;
	color: var(--color1);
}

main textarea{
	width: 100%;
	height: 5rem;
	font-family: var(--fuente-texto);
	color: var(--color1);
	/*background-color: LightGoldenrodYellow;*/
	background-color: var(--color2-light2);
	border: 1px solid DarkKhaki;
	border-radius: 1rem;
	padding: 0.5rem;
}

.math-display{
	display: block;
	margin: 0.5rem auto;
	text-align: center;
	font-size: 1.4rem;
}
.math-inline{
	display: inline;
	margin: 0 0.4rem;
}

